# Prefer DB_URL or provide individual values below.
DB_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME

DB_HOST=HOST
DB_USER=USER
DB_PASSWORD=PASSWORD
DB_PORT=5433
DB_NAME=DBNAME
DB_SCHEMA=public
DB_THREADS=4
