# Prefer DB_URL or provide individual values below.
DB_URL=postgresql://USER:PASSWORD@localhost:5433/olist_dw

DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=admin
DB_PORT=5433
DB_NAME=olist_dw
DB_SCHEMA=public
DB_THREADS=4
